:root {
  --slate-900: hsl(218, 44%, 22%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-300: hsl(212, 45%, 89%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--slate-300);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-container {
  text-align: center;
  max-width: 32rem;
  width: 100%;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 2.4rem;
}

.qr-image {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 1.6rem;
}

.qr-heading {
  color: var(--slate-900);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.qr-description {
  color: var(--slate-500);
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1.6rem;
}
