:root {
  /* Colors */
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --white: #fff;

  /* Typography - Font Family */
  --font-family: "Outfit", sans-serif;

  /* Text Preset 1 */
  --tp-1-size: 2.2rem;
  --tp-1-letter-spacing: 0;
  --tp-1-line-height: 1.2;

  /* Text Preset 2 */
  --tp-2-size: 1.5rem;
  --tp-2-letter-spacing: 0.2;
  --tp-2-line-height: 1.4;

  /* Spacing */
  --spacing-500: 4rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  background-color: var(--slate-300);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-container {
  text-align: center;
  background-color: var(--white);
  border-radius: 2rem;
  width: 32rem;
  padding: var(--spacing-200);
  padding-bottom: var(--spacing-500);
}

.qr-image {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: var(--spacing-300);
}

.qr-heading {
  color: var(--slate-900);
  font-size: var(--tp-1-size);
  line-height: var(--tp-1-line-height);
  letter-spacing: var(--tp-1-line-height);
  margin-bottom: var(--spacing-200);
}

.qr-description {
  color: var(--slate-500);
  font-size: var(--tp-2-size);
  line-height: var(--tp-2-line-height);
  letter-spacing: var(--tp-2-letter-spacing);
  padding: 0 var(--spacing-200);
}
